html {
    margin: 0;
}

input,
button {
    font-family: Mulish;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Mulish;
}

p {
    font-family: Mulish;
}

li {
    font-family: Mulish;
}

select {
    font-family: Mulish;
}

/* Navigation bar styles */
header {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 50px;

}

.banner-container,
.nav-bar,
.nav-title>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar img {
    margin-right: 20px;
}

.nav-bar h3 {
    font-size: 2.15rem;
}

.nav-bar a {
    color: #FF5400;
    text-decoration: none;
}

.nav-title li {
    list-style: none;
    margin-right: 40px;
    color: #424247;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 700;
}

.nav-title a {
    list-style: none;
    color: #FF5400;
    font-weight: 700;
    text-decoration: none;
}

.nav-title a:hover{
    color:black;
}

.hamburg {
    display: none;
}

/* Banner section style  */
.bnr {
    width: 75%;
    height: 75vh;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url("../Assets/Images/Banner.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    text-align: center;
    align-items: center;

}

.travel-container {
    padding-top: 106px;
    padding-bottom: 106px;
}

.travel-container h2 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.travel-container p {
    color: #FFF;
    text-align: center;
    margin: 0 auto;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 48px;
    width: 676px;
}

.select-option .drop-down {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    padding-left: 16px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    /* margin-right: 1rem; */
}

.select-option .btn-primary {
    background: #FF5400;
    color: #FFF;
    font-weight: 700;
    border: 0;
    padding-left: 0;
}

.select-option {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
}

/* Popular tours section */
.popular-tours-container {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 100px;
}

.popular-tours-container {
    display: flex;
    justify-content: space-between;
}

.tour-description {
    width: 720px;
}

.heading {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.paragraph {
    width: 530px;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.tour-description li {
    margin-bottom: 16px;
}

.tour-description .shared-button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    border: 0;
    background: #FF5400;
    font-family: Mulish;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    margin-top: 16px;
    margin-bottom: 24px;
}


/* Choose your destination section */
.destination-container {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 100px;
}

.destination-title {
    text-align: center;
}

.destination-title p {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 48px;
    color: rgba(19, 19, 24, 0.70);
}

/* Photo collage section */
.div-1 {
    background-image: url(../Assets/Images/Maldives.png);
    grid-area: Div1;
}

.div-2 {
    background-image: url(../Assets/Images/Indonesia.png);
    grid-area: Div2;
}

.div-3 {
    background-image: url(../Assets/Images/Srilanka.png);
    grid-area: Div3;
}

.div-4 {
    background-image: url(../Assets/Images/N-America.png);
    grid-area: Div4;
}

.div-5 {
    background-image: url(../Assets/Images/Kashmir.png);
    grid-area: Div5;
}

.div-6 {
    background-image: url(../Assets/Images/Bangladesh.png);
    grid-area: Div6;
}

.div-7 {
    background-image: url(../Assets/Images/Bandarban.png);
    grid-area: Div7;
}

.common-class {
    height: 40vh;
    background-repeat: no-repeat;
    border-radius: 16px;
    background-size: cover;
    background-position: center;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 800;
}

.photo-collage {
    display: grid;
    gap: 24px;
    grid-template-areas:
        "Div1   Div1    Div1    Div1    Div2    Div2    Div2    Div2"
        "Div3   Div3    Div4    Div4    Div4    Div4    Div5    Div5"
        "Div6   Div6    Div6    Div7    Div7    Div7    Div7    Div7"
    ;
}

/* Why choose us */
.choosing-container {
    margin: 0 auto;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 100px;
    /* text-align: center; */
}

.choosing-container>h2 {
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}

.choosing-container>p {
    width: 750px;
    text-align: center;
    margin: 0 auto;
    color: rgba(19, 19, 24, 0.70);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 3rem;
}

.card-container {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    justify-content: space-evenly;

}

.card-1 {
    width: 30vw;
    height: 30vh;
    border-radius: 16px;
    padding-left: 2rem;
    padding-top: 2rem;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    text-align: left;
}

.card-1 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-1 p {
    width: 25vw;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.card-2 {
    width: 30vw;
    height: 30vh;
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.card-2 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-2 p {
    width: 25vw;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.card-3 {
    width: 30vw;
    height: 30vh;
    margin: 0 auto;
    padding-left: 2rem;
    padding-top: 2rem;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.card-3 h2 {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.card-3 p {
    width: 25vw;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

/* Newsletter */
.info-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 100px;
}

.newsletter {
    width: 474px;
    height: 422px;
    border-radius: 16px;
    padding-left: 2.5rem;
    border: 1px solid #FF5400;
}

.newsletter h3 {
    color: #131318;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 16px;
}

.newsletter p {
    width: 18.2vw;
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

hr {
    width: 393px;
    height: 1px;
    margin-bottom: 2rem;
    background: rgba(19, 19, 24, 0.10);
}

input {
    display: block;
    width: 393px;
    height: 52px;
    flex-shrink: 0;
    margin-bottom: 2rem;
    color: rgba(19, 19, 24, 0.30);
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    border: 0;
    padding-left: 1.2rem;
}

.newsletter button {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    border: 0;
    margin-bottom: 2.5rem;
}


.discount {
    background-image: url("../Assets/Images/sadapathor.png");
    width: 672px;
    height: 422px;
    background-position: center;
    position: relative;
}

.discount button {
    width: 16.5vw;
    height: 12.5vh;
    transform: rotate(-19.628deg);
    position: absolute;
    left: 340px;
    top: 245px;
    border-radius: 16px;
    background: #FF5400;
    border: 0;
    color: #FFF;
    font-size: 20px;
    line-height: normal;
}

.discount h2 {
    margin-top: 0px;
}

.discount p {
    margin-bottom: 0px;
}

/* Footer */
footer {
    width: 100%;
    height: 50vh;
    background: rgba(19, 19, 24, 0.05);
}

.h-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-title h3 {
    color: #131318;
    font-size: 32px;
    font-weight: 800;
    margin-left: 16px;
}

.h-title a {
    color: #FF5400;
    text-decoration: none;
}

footer p {
    width: 769px;
    margin: 0 auto;
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 32px;
}

.social,
#social-icon {
    width: 174.322px;
    height: 24px;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 50px;
}

#last-hr {
    width: 872px;
    height: 1px;
    background: rgba(19, 19, 24, 0.10);
}

.last-para {
    color: #131318;
    font-family: Inter;
    font-size: 16px;
    font-weight: 300;
}

@media screen and (max-width: 600px) {
    body {
        width: 500px;
    }

    header {
        margin-top: 16px;
        margin-bottom: 0px;
    }

    .banner-container {
        height: 64px;
    }

    .nav-bar h3 {
        font-size: 21.543px;
    }

    .nav-bar img {
        margin-right: 10px;
        width: 33px;
        height: 28px;
    }


    .nav-title>ul {
        display: none;

    }

    .hamburg {
        display: flex;
    }

    .travel-container {
        padding-top: 32px;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .travel-container h2 {
        font-size: 22px;
        font-weight: 800;
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 8px;
    }

    .travel-container p {
        color: #FFF;
        text-align: center;
        margin: 0 auto;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 32px;
        width: 304px;
    }

    .select-option {
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        display: inline-flex;
        padding: 16px;
        align-items: flex-start;
        gap: 16px;
        flex-direction: column;
        width: 255px;
        height: 256px;
    }

    .bnr {
        width: 335px;
        height: 483px;
    }


    .select-option .drop-down {
        width: 255px;
        height: 52px;
    }

    .popular-tours-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    .heading {
        font-size: 20px;
    }

    .paragraph,
    ul,
    p {
        font-size: 14px;
    }

    .tour-description {
        margin: 0 auto;
        width: 335px;
    }

    .popular-tours-container {
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .tour-description img {
        margin-top: 24px;
    }

    .destination-container {
        margin-bottom: 24px;
        margin-top: 24px;
    }

    .destination-title p {
        width: 309px;
    }

    .photo-collage {
        display: block;
        margin-bottom: 16px;
    }

    .div-1,
    .div-2,
    .div-3,
    .div-4,
    .div-5,
    .div-6,
    .div-7 {
        margin-bottom: 16px;
    }

    .choosing-container {
        margin-top: 0;
    }

    .choosing-container>h2 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 16;
    }

    .choosing-container>p {
        width: 309px;
        font-size: 14px;
    }

    .card-container {
        flex-direction: column;
    }

    .card-1 {
        width: 335px;
        height: 289px;
    }

    .card-1 h2 {
        font-size: 20px;
    }

    .card-1 p {
        width: 271px;
        font-size: 14px;
    }

    .card-2 {
        width: 335px;
        height: 289px;
    }

    .card-2 h2 {
        font-size: 20px;
    }

    .card-2 p {
        width: 271px;
        font-size: 14px;
    }

    .card-3 {
        width: 335px;
        height: 289px;
    }

    .card-3 p {
        width: 271px;
        font-size: 14px;
    }

    .card-3 h2 {
        font-size: 20px;
    }

    .newsletter h3 {
        font-size: 20px;
    }

    .newsletter p {
        width: 270px;
        font-size: 14px;
    }

    .newsletter {
        width: 335px;
        height: 353px;
        border-radius: 16px;
        padding-left: 23px;
    }

    hr {
        width: 288px;
        height: 1px;
        margin-left: 23px;
        border-left-width: 0px;
        margin-bottom: 16px;
        margin-top: 16px;
        margin-left: 0px;
    }

    input {
        width: 275px;
        height: 52px;
        margin-bottom: 16px;
    }

    .newsletter button {
        width: 288px;
        height: 52px;
    }

    .discount {
        margin-bottom: 24px;
        width: 360px;
        height: 300px;

        border-radius: 16px;
    }

    .info-container {
        flex-direction: column;
        margin: 0 auto;
        margin-left: 70px;
        margin-right: 70px;
    }

    footer {
        height: 350px;
        margin: 0 auto;
        background: rgba(19, 19, 24, 0.05);
        align-items: center;
        padding-bottom: 31px;
    }

    .h-title h3 {
        font-size: 21.5px;
        font-weight: 800;
        margin-left: 16px;
    }

    footer p {
        width: 287px;
        font-size: 14px;
        margin-bottom: 16px;
    }

    .discount button {
        width: 214px;
        height: 79px;
        left: 140px;
        top: 190px;
        border-radius: 16px;
        font-size: 20px;
    }

    .discount h2 {
        font-size: 21px;
    }

    #last-hr {
        width: 335px;
        height: 1px;
        margin: 0 auto;
    }

    .social,
    #social-icon {
        margin-bottom: 24px;
    }

    .last-para {
        margin-top: 24px;
    }

}




